body,html,header,h1{
margin: 0;
padding: 0;
}

header,body,html{
width: 100%;
height: 100%;
}

header,body{
  background: url("eleph en ville 2 (new).jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

#navbar{
  background-color: #11436c;
}

#btn{
width: 10%;
background-color: #3a859d;
border-radius: 5%;
}

.jumbotron{
  margin-top: 10%;
  border-radius: 2%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(247, 245, 245, 0.51);
   }

 #jumbotron2{
     margin-top: 10%;
     border-radius: 2%;
     margin-left: 10%;
     margin-right: 10%;
     background-color: rgba(247, 245, 245, 0.51);
      }


.Name{
  color: #6d45df;
}

@media screen and (max-width: 768px){
#lead{
  font-size: 25px;
  padding-bottom: 2%;
}
 }

 #lead{
color: #3a859d;
 }

@media screen and (max-width: 768px){
.citation{
    font-size: 10px;
    padding-bottom: : 70%;

  }
  }

.citation{
  color: black;
}

.wrapper{
  display: table;
  width: 100%;
  height: 100%;
}

.content{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-shadow: black;
}

@media screen and (max-width: 768px){
.display-3{
  font-size: 30px;
  text-shadow: black;
}
 }

.display-3{
  color: #11436c;
 }

hr{
width: 70%;
background-color: #ddae21;
}

.lead{
  font-size: 25px;
  color: #0e4366;
  text-shadow: black;
}


   @media screen and (max-width: 768px){
     .detail{
       margin-left: 2px;
       margin-right: 2px;
       font-size: 10px;
       text-align: justify;
     }
    }

   .detail{
  color: black;
   }

   color: black;
  margin-left: 2%;
  margin-right: 2%;
 }

main{
  max-width: 650px;
  margin: 80px auto;
}
p{
font-size: 20px;
