body {
  background-repeat: no-repeat;
  background-image: url(img.jpg);
  background-attachment: fixed;
  background-size: 100vw;
}

#btn {
  width: 6rem;
  border-radius: 5px;
  background-color: #ffb900;
}

#ctn{
margin-top: 3.5rem;
background: #ffb900;
}

#En_Tete {

  margin: 0;
  padding: 0;
}

#TXT {

  font-size: 2rem;
}

#GRP {
  font-size: 1rem;
}
